.flex-fill.d-flex.flex-column.justify-content-center.py-4
  .container-tight.py-6
    .card.card-md
      .card-body.text-center
        = link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-primary"